
.class-for-index  /*This connect to the indext page*/
h1 {
    font-family: 'Anton', sans-serif; /*This is what font it is*/
    text-align: center; /*this is where about thxt is aligned*/
    height:35px; } /*this is the hight of the text*/
    
.subhead {
   text-align: center; /*this is where about thxt is aligned*/
   font-family: 'Baloo Tamma', cursive; /*This is what font it is*/
   border-top:1px solid #000000; /*I have put a border at the top of the text*/
   border-bottom: 1px solid #000000; /*I have put a border at the bottom of the text*/
}

 nav {
     margin: 50px; /*the navagation has a margin of 50px around it*/
     
    
  }

  ul {
      overflow: auto;
      list-style-type: none;
      
  }

  li {
      height:30px; /*this is the hight of the text*/
      float:left; /*the navagation will posstioned at the left*/
      margin-right:0px;
      border-right:1px solid #aaa; /*I have put a border at the right side of the text*/
      padding:12px; /* This will put sone space around the listed items*/
      align-items: center; /*this is where about thxt is aligned*/
  }

  li:last-child {
      border-right: none;
  }
li a {
    text-decoration: none;
    color: #ccc; /* this changes the colour of the text*/
    font-family: 'Patrick Hand', cursive; /*This is what font it is*/
    text-transform:uppercase; /*this makes the text all capitals*/
    transition: all 0.5s ease;
    font-size: 20px; /*this is the size of the font*/
    text-align: center
}

li a:hover{
    color:#666;
}
li.active a {
    font-weight: bold; /*this makes the font go bold*/
    color:#333;
}
 



footer {
 border: 2px solid#000000;
 background-color: #000000; /*this makkes the background of the footer go black*/
}


figure{
    align-items: center
}

p5{
    
    font-size: 18px;
    text-align: center; /*this is where about thxt is aligned*/
    justify-content: center;
    padding-bottom :1cm;
    padding-left: 1cm;
    padding-right:1cm;
    margin-left: 2cm;
    margin-right:2cm

}

p1 {

  color:#aaa;  
   text-align: center; /*this is where about thxt is aligned*/
   font-weight: bold; 
}

@media(max-width:12000px) /*this makes it go from desk top view to mobile view*/
{
  p6 {
      font-size: 16px;
  }
}

@media(max-width:1000px)
{
    h1{
        font-size: 20;
    }
}

@media  (max-width: 800px) {
   
   h1{
       font-size: 18;
   }
    p6 {
     font-size: 14px;
    }

    }

@media (max-width:600px){
   h1{
        font-size: 0.7rem;
    }
    
    p6{
        font-size: 1.5rem;
    }
   } 

   @media (max-width:400px){

    
   }


.class-for-glossary
h1 {
    font-family: 'Anton', sans-serif; /*This is what font it is*/
    text-align: center; /*this is where about thxt is aligned*/
    height:35px; } /*this is the hight of the text*/
    
.subhead {
   text-align: center; /*this is where about thxt is aligned*/
   font-family: 'Baloo Tamma', cursive; /*This is what font it is*/
   border-top:1px solid #000000;
   border-bottom: 1px solid #000000;
}

 nav {
     margin: 50px;
     
    
  }

  ul {
      overflow: auto;
      list-style-type: none;
      
  }

  li {
      height:30px; /*this is the hight of the text*/
      float:left;
      margin-right:0px;
      border-right:1px solid #aaa;
      padding:12px;
      align-items: center;
  }

  li:last-child {
      border-right: none;
  }
li a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Patrick Hand', cursive; /*This is what font it is*/
    text-transform:uppercase;
    transition: all 0.5s ease;
    font-size: 20px;
    text-align: center /*this is where about thxt is aligned*/
}

li a:hover{
    color:#666;
}
li.active a {
    font-weight: bold;
    color:#333;
}
 

article {
    columns:3; /*this splits the webpage into columns*/
    column-gap: 20px;
    line-height: 20px;
    column-rule: 2px outset #000000;     
}

h5 {
   
    font-size: 16px;
    border-bottom: 2px solid #000000;
    margin-bottom: 0.9cm; 
    margin-top: 0.9cm;
    padding-top: 1cm;

}
p {
    border-bottom: 2px solid #000000;
    margin-bottom: 1.1cm;
    padding-bottom: 1.5cm;
}
h6 {
    font-size: 16px;
    border-bottom: 2px solid #000000;
    margin-bottom: 1cm;

} 

h4{
    margin-bottom: 1cm;
    border-bottom: 2px solid #000000;
    font-size: 16px;
}
img {
    border-bottom: 2px solid #000000;
}


footer {
    border: 2px solid#000000;
    background-color: #000000;
   
     color:#aaa;  
      text-align: center; /*this is where about thxt is aligned*/
      font-weight: bold; 
   }
   @media(max-width:12000px)
   {
     p6 {
         font-size: 16px;
     }
   }
   
   @media(max-width:1000px)
   {
       h1{
           font-size: 20;
       }
   }
   
   @media  (max-width: 800px) {
      
      h1{
          font-size: 18;
      }
       p6 {
        font-size: 14px;
       }
   
       }
   
   @media (max-width:600px){
      h1{
           font-size: 0.7rem;
       }
       
       p6{
           font-size: 1.5rem;
       }
      } 
   
      @media (max-width:400px){
   
       
      }
    
.class-for-jobs

h1 {
    font-family: 'Anton', sans-serif;/*This is what font it is*/
    text-align: center; /*this is where about thxt is aligned*/
    height:35px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1em;
    text-align: center; /*this is where about thxt is aligned*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px; }
    
.subhead {
    margin-top: 10px;
   text-align: center; 
   font-family: 'Baloo Tamma', cursive;
   border-top:1px solid #000000;
   border-bottom: 1px solid #000000;
  
}
 nav {
     margin: 50px;
     }

  ul {
      overflow: auto;
      list-style-type: none;
      
  }

  li {
      height:30px;
      float:left;
      margin-right:0px;
      border-right:1px solid #aaa;
      padding:12px;
      align-items: center; /*this is where about thxt is aligned*/
  }

  li:last-child {
      border-right: none;
  }
li a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Patrick Hand', cursive; /*This is what font it is*/
    text-transform:uppercase;
    transition: all 0.5s ease;
    font-size: 20px;
    text-align: center/*this is where about thxt is aligned*/
}

li a:hover{
    color:#666;
}
li.active a {
    font-weight: bold;
    color:#333;
}

aside {
    columns:2;
    column-gap: 20px;
    column-rule: 2px solid #000000;
}


  
.p2 {
     margin-bottom: 1cm;


}
h3{
    font-size: 24px;
    padding-top: 0.5cm;

}


@media(max-width:12000px)
{
  p6 {
      font-size: 16px;
  }
}

@media(max-width:1000px)
{
    h1{
        font-size: 20;
    }
}

@media  (max-width: 800px) {
   
   h1{
       font-size: 18;
   }
    p6 {
     font-size: 14px;
    }

    }

@media (max-width:600px){
   h1{
        font-size: 0.7rem;
    }
    
    p6{
        font-size: 1.5rem;
    }
   } 

   @media (max-width:400px){

    
   }

.class-for-tutorials


h1 {
    font-family: 'Anton', sans-serif; /*This is what font it is*/
    text-align: center; /*this is where about thxt is aligned*/
    height:35px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1em;
    text-align: center;/*this is where about thxt is aligned*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px; }
    
.subhead {
    margin-top: 10px;
   text-align: center; /*this is where about thxt is aligned*/
   font-family: 'Baloo Tamma', cursive; /*This is what font it is*/
   border-top:1px solid #000000;
   border-bottom: 1px solid #000000;
  
}
 nav {
     margin: 50px;
     }

  ul {
      overflow: auto;
      list-style-type: none;
      
  }

  li {
      height:30px;
      float:left;
      margin-right:0px;
      border-right:1px solid #aaa;
      padding:12px;
      align-items: center; /*this is where about thxt is aligned*/
  }

  li:last-child {
      border-right: none;
  }
li a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Patrick Hand', cursive;/*This is what font it is*/
    text-transform:uppercase;
    transition: all 0.5s ease;
    font-size: 20px;
    text-align: center /*this is where about thxt is aligned*/
}

li a:hover{
    color:#666;
}
li.active a {
    font-weight: bold;
    color:#333;
}

article {
    columns:3;
    column-gap: 20px;
    line-height: 20px;
    column-rule: 2px outset #444;     
}

p3 {
    font-size: 14px;
}

footer {
    border: 2px solid#000000;
    background-color: #000000;
   
     color:#aaa;  
      text-align: center; /*this is where about thxt is aligned*/
      font-weight: bold; 
   }
   
   @media(max-width:12000px)
{
  p6 {
      font-size: 16px;
  }
}

@media(max-width:1000px)
{
    h1{
        font-size: 20;
    }
}

@media  (max-width: 800px) {
   
   h1{
       font-size: 18;
   }
    p6 {
     font-size: 14px;
    }

    }

@media (max-width:600px){
   h1{
        font-size: 0.7rem;
    }
    
    p6{
        font-size: 1.5rem;
    }
   } 

   @media (max-width:400px){

    
   }

.class-for-reviews


h1 {
    font-family: 'Anton', sans-serif; /*This is what font it is*/
    text-align: center; /*this is where about thxt is aligned*/
    height:35px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1em;
    text-align: center; /*this is where about thxt is aligned*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px; }
    
.subhead {
    margin-top: 1cm;
   text-align: center; /*this is where about thxt is aligned*/ 
   font-family: 'Baloo Tamma', cursive; /*This is what font it is*/
   border-top:1px solid #000000;
   border-bottom: 1px solid #000000;
  

}
 nav {
     margin: 50px;
     }

  ul {
      overflow: auto;
      list-style-type: none;
      
  }

  li {
      height:30px;
      float:left;
      margin-right:0px;
      border-right:1px solid #aaa;
      padding:12px;
      align-items: center; /*this is where about thxt is aligned*/
  }

  li:last-child {
      border-right: none;
  }
li a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Patrick Hand', cursive; /*This is what font it is*/
    text-transform:uppercase;
    transition: all 0.5s ease;
    font-size: 20px;
    text-align: center /*this is where about thxt is aligned*/
}

li a:hover{
    color:#666;
}
li.active a {
    font-weight: bold;
    color:#333;
}


P6 {
    font-size: 16px;
}


@media(max-width:12000px)
{
  p6 {
      font-size: 16px;
  }
}

@media(max-width:1000px)
{
    h1{
        font-size: 20;
    }
}

@media  (max-width: 800px) {
   
   h1{
       font-size: 18;
   }
    p6 {
     font-size: 14px;
    }

    }

@media (max-width:600px){
   h1{
        font-size: 0.7rem;
    }
    
    p6{
        font-size: 1.5rem;
    }
   } 

   @media (max-width:400px){

    
   }
